img.icon {
    max-width:24px;
    max-height:24px;
}

img.cover {
    align: middle;
    max-width:150px;
    max-height:200px;
}

td.cover {
    text-align: center;
}

.booksTable {
    border-collapse: separate;
    width: 80%;
}

th {
    font-size: large;
}

th, td {
    padding: 8px;
    text-align: left;
    /*border-bottom: 1px solid #ddd;*/
}

tr {
    border-radius: 25px;
}

tr:nth-child(even){
    background-color: #f2f2f2;
}

tr:hover{
    background-color: #00ffff;
}


