<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
	<script src="/js/dados.js"></script>
	<title>Livraria</title>
	<meta charset='UTF-8'>
</head>
<body ng-app="app">
	<h1 align="center">Livraria</h1>
	<div ng-controller="libraryController as lib">
		<h2 style="margin-left: 10%">Obras</h2>
		<table border="1" align="center" style="width:80%;">
			<tbody>
				<tr>
					<th>Título</th>
					<th>Autor</th>
					<th>Descrição</th>
					<th>Capa</th>
					<th>Preço</th>
					<th>Comentários</th>
					<th>Editar</th>
					<th>Remover</th>
				</tr>
				<tr ng-repeat="book in lib.bookList">
					<td>
						<div ng-hide="editData[book.id]">{{book.title}}</div>
						<div ng-show="editData[book.id]">
							<input type="text" ng-model="book.title"></input>
						</div>
					</td>
					<td>
						<div ng-hide="editData[book.id]">{{book.author}}</div>
						<div ng-show="editData[book.id]">
							<input type="text" ng-model="book.author"></input>
						</div>
					</td>
					<td>
						<div ng-hide="editData[book.id]">{{book.description}}</div>
						<div ng-show="editData[book.id]">
							<input type="text" ng-model="book.description"></input>
						</div>
					</td>
					<td>
						<div ng-hide="editData[book.id]">
							<img src="{{book.cover}}"/>
						</div>
						<div ng-show="editData[book.id]">
							<input type="text" ng-model="book.cover"></input>
						</div>
					</td>
					<td>
						<div ng-hide="editData[book.id]">{{book.price}}</div>
						<div ng-show="editData[book.id]">
							<input type="text" ng-model="book.price"></input>
						</div>
					</td>
					<td>
						<img src="https://confluence.atlassian.com/doc/files/268044085/view-a-comment-icon.png" ng-click="lib.commentEnabled = !lib.commentEnabled">
						<div ng-show="lib.commentEnabled">
							<ul>
								<li ng-repeat="comment in book.comments">{{comment}}</li>
							</ul>

							<div>
								<textarea rows="4" ng-model="comments"></textarea>
							</div>
							<button ng-click="lib.comment(book, comments)">Comentar</button>
   						</div>
					</td>

					<td align="center">
						<button ng-hide="editData[book.edit]" ng-click="lib.modify(book, $index)">Modificar</button>
                        <button ng-show="editData[book.edit]" ng-click="lib.update(book, $index)">Atualizar</button>
					</td>

					<td align="center">
						<a>
							<img src="https://cdn3.iconfinder.com/data/icons/freeapplication/png/24x24/Delete.png" ng-click="lib.remove($index)">
						</a>
					</td>
				</tr>
			</tbody>
		</table>

		<br>
		<hr style="width: 80%">

		<table border="0" align="center">
			<tr>
				<td>Título: </td>
				<td>
					<input ng-model="lib.title" type="text"></input>
				</td>
			</tr>
			<tr>
				<td>Autor: </td>
				<td>
					<input ng-model="lib.author" type="text"></input>
				</td>
			</tr>
			<tr>
				<td>Descrição: </td>
				<td>
					<input ng-model="lib.description" type="text"></input>
				</td>
			</tr>
			<tr>
				<td>Capa: </td>
				<td>
					<input ng-model="lib.cover" type="text"></input>
				</td>
			</tr>
			<tr>
				<td>Preço: </td>
				<td>
					<input ng-model="lib.price" type="text"></input>
				</td>
			</tr>

		</table>
		<div align="center">
			<button ng-click="lib.add()">Adicionar</button>
		</div>

	</div>

</body>

</html>